<!-- default themes and core styles -->
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

<sidebar></sidebar>

<div class="col-xs-8 col-xs-offset-4 col-md-10 col-md-offset-2 main-content">
  <h1>Edit Menu</h1>

  <button type="button" class="btn btn-default">Add New Menu Item</button>

  <div ng-app="webPortalApp" class="gridListdemoBasicUsage">
    <div class="menu" ng-repeat="menu in vm.menus">
      <h1>{{menu.title}}</h1>
      <div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 200px;" ng-repeat="menuitem in menu.menu_items">
          <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
          <md-card-content>
            <h2>{{menuitem.title}}</h2>
            <p>{{menuitem.description}}</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Edit</md-button>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</div>
